* {
  margin: 0;
  padding: 0;
}

#main-container {
  margin-bottom: 50px;
}

.list-link {
  text-decoration: none;
}

#content-container {
  padding: 20px;
}

.add-form {
  width: 50%;
  margin: auto;
}